<div class="container-fluid container-landing">
  <div class="col-sm-offset-4 col-sm-4 text-center">
    <h3>it is time to</h3>
    <br>
    <h1>Explore Further</h1>
    <br>w
    <%= link_to image_tag("login_with_strava.png"), strava_login_path %>
  </div>
</div>
