<div class="container-fluid landing">
  <div class="col-sm-offset-4 col-sm-4 text-center">
    <h1>Explore Further</h1>
    <br>
    <%= link_to image_tag("login_with_strava.png"), strava_login_path, id: "login" %>
  </div>
</div>
