<div class="container-fluid dashboard">

  <div class="col-sm-4">
    <%= image_tag(current_athlete.profile, height: '200', width: '250') %>
  </div>
  <div class="col-sm-2">
    <%= link_to "Discover new climbing locations", activities_path, class: "btn btn-default"  %>
  </div>
</div>
