<div class="container">
  <div class="col-sm-2">
    <%= image_tag(current_athlete.profile) %>
  </div>
  <div class="col-sm-2">
    <%= current_athlete.email %>
  </div>

  <%= link_to "#{current_athlete.firstname},s Activities", activities_path %>
</div>
