---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?name=Tall%20flowers%20on%20the%20401
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 36292a76256c5b86f7fb3b8040ea1d2175365f5d
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"4acde72d9cc215490e316f5b58e662db"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - aa6b3f62646a436cdea5b4deb2540d53
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '2,2'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":537880147,"resource_state":2,"external_id":"2016-04-06-16-21-43.fit","upload_id":590741787,"athlete":{"id":6032950,"resource_state":1},"name":"Turing
        group jog and circuit training","distance":3606.3,"moving_time":1283,"elapsed_time":1828,"total_elevation_gain":0.0,"type":"Run","start_date":"2016-04-06T22:21:43Z","start_date_local":"2016-04-06T16:21:43Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.75,-105.0],"end_latlng":[39.75,-105.0],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.75,"start_longitude":-105.0,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a537880147","summary_polyline":"uzqqFb{z_SjAa@cM`H}`@rc@wFT~@hFoArApHtKBfBcH}MjAaBoAiEhDUrUk\\}E{CzG{J_Ac@","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g733800","average_speed":2.811,"max_speed":5.7,"has_heartrate":false,"elev_high":1587.1,"elev_low":1575.5,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":536120277,"resource_state":2,"external_id":"garmin_push_1113485721","upload_id":588965739,"athlete":{"id":6032950,"resource_state":1},"name":"Afternoon
        Run","distance":3368.1,"moving_time":1281,"elapsed_time":2150,"total_elevation_gain":0.0,"type":"Run","start_date":"2016-04-04T22:30:42Z","start_date_local":"2016-04-04T16:30:42Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.75,-105.0],"end_latlng":[39.75,-105.0],"location_city":null,"location_state":null[...]
