---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer e1c1964dbe37a42ab8eef6ae96dd07808579ec48
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"2fc65a2cff047bdebe0462f20aa5b35a"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 4bba256f5e7ac4fe0f08040610f325ca
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '1,1'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":537880147,"resource_state":2,"external_id":"2016-04-06-16-21-43.fit","upload_id":590741787,"athlete":{"id":6032950,"resource_state":1},"name":"Turing
        group jog and circuit training","distance":3606.3,"moving_time":1283,"elapsed_time":1828,"total_elevation_gain":0.0,"type":"Run","start_date":"2016-04-06T22:21:43Z","start_date_local":"2016-04-06T16:21:43Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.745878,-105.000333],"end_latlng":[39.749977,-105.000165],"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":39.745878,"start_longitude":-105.000333,"achievement_count":0,"kudos_count":2,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a537880147","summary_polyline":"uzqqFb{z_SjAa@cM`H}`@rc@wFT~@hFoArApHtKBfBcH}MjAaBoAiEhDUrUk\\}E{CzG{J_Ac@","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g733800","average_speed":2.811,"max_speed":5.7,"has_heartrate":false,"elev_high":1587.1,"elev_low":1575.5,"total_photo_count":0,"has_kudoed":false,"workout_type":null},{"id":536120277,"resource_state":2,"external_id":"garmin_push_1113485721","upload_id":588965739,"athlete":{"id":6032950,"resource_state":1},"name":"Afternoon
        Run","distance":3368.1,"moving_time":1281,"elapsed_time":2150,"total_elevation_gain":0.0,"type":"Run","start_date":"2016-04-04T22:30:42Z","start_date_local":"2016-04-04T16:30:42Z","timezone":"(GMT-07:00)
        America/Denver","start_latlng":[39.749709,-105.000337],"end_latlng":[39.74999,-105.000078],"location_city":null,"loc[...]
