---
http_interactions:
- request:
    method: get
    uri: http://www.thecrag.com/api/map/bbox?s=-105.3,39.98,-105.27,40.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cdata-Key:
      - key=9z6lwrevp5f4ev4r
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"query":{"request":"bbox","entity":"map","s":"-105.3,39.98,-105.27,40.0"},"data":{"mapto":["14375143"]}}'
  recorded_at: Sat, 23 Apr 2016 19:41:24 GMT
recorded_with: VCR 3.0.1
