* {
  font-family: 'Play', sans-serif;
}

body {
  margin: 0;
  margin-top: 50px;
}
.landing {
  background-image: asset-url('black_and_white_mountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 30vh;
  text-align: center;
}

.dashboard {
  background-image: asset-url('granite.jpg');
  background-size: cover;
  min-height: 100vh;
  padding-top: 20vh;
  text-align: center;
}

.navbar {
  margin-bottom: 20;
}

.stay_put {
  position: fixed;
}



a.navbar-brand.break-through-header {
  color: #FC4C02;
}
.break-through-header {
  color: #FC4C02;
  background-color: #fff;
}

.profile-pic img {
  border-radius: 20px;
}

.hide {
  display: none;
}

#map {

}
