* {
  font-family: 'Play', sans-serif;
}

.container-landing {
  background-image: asset-url('black_and_white_mountain.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 30vh;
  text-align: center;
}

a.navbar-brand.break-through-header {
  color: #FC4C02;
}
.break-through-header {
  color: #FC4C02;
  background-color: #fff;
}

#map {

}
