<h1><%= current_athlete.firstname %>'s recent activity</h1>
<% @activities.each do |activity| %>
  <ul>
    <li><%= link_to "#{activity[:name]}", activity_path(activity[:name]) %></li>
  </ul>
<% end %>
