<div class="container">
  <h1 class="text-center">Recent activities</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Activity name</th>
        <th>Details</th>
        <th>Activity type</th>
        <th>Nearby Climbing Areas</th>
      </tr>
    </thead>
    <tbody>
      <% @all_activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= link_to "View Details",  activity_path(activity[:name]), class: "btn btn-default" %></td>
        <td><%= activity.activity_type %></td>
        <td><%= link_to "View nearby climbing areas", crags_path(activity.id) %></td>
      <% end %>
      </tr>
    </tbody>
  </table>
</div>
